@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');

body {
	background-color: #96E5FF;
}

h1 {
	font-family: 'Crete Round', serif;
	font-size: 50px;
	text-align: center;
	margin: 5px;
}

h2 {
	font-family: 'Crete Round', serif;
	font-size: 30px;
	margin: 5px;
}

p {
	font-family: 'Crete Round', serif;
	font-size: 20px;
	flex-wrap: wrap;
	margin: auto;
	text-align: center;
	width: 600px;
}

a {
	text-decoration: none;
}

section img {
	height: auto;
	max-height: 250px;
	max-width: 20%;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 50px;
	height: 300px;
}

.question {
	width: 70%;
	float: right;
	margin: 20px;
	padding: 15px;
	background-color: lightblue;
}

.options {
	display: flex;
	justify-content: space-around;
}

[type="submit"] {
	size: 30px;
	padding: 7px;
	font-size: 30px;
	font-family: 'Crete Round', serif;
	font-weight: bold;
	text-align: center;
	border-radius: 0px;
	border: 2px solid #3CA4C6;
	background-color: skyblue;
}

[type="text"] {
	border: 2px solid #3CA4C6;
	background-color: skyblue;
	padding: 5px;
	font-size: 100%;
	font-family: 'Crete Round', serif;
	margin-left: 100px;
	margin-bottom: 10px;
	margin-top: 10px;
}

p.textleft {
	text-align: left;
	margin-left: 75px;
}

.blue {
	-webkit-transform:rotate(-25deg);
	-moz-transform:rotate(-25deg);
	-ms-transform:rotate(-25deg);
	-o-transform:rotate(-25deg);
	transform:rotate(-25deg);
}

.green {
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	-ms-transform:rotate(30deg);
	-o-transform:rotate(30deg)
	transform:rotate(30deg);
}

.purple {
	-webkit-transform:rotate(13deg);
	-moz-transform:rotate(13deg);
	-ms-transform:rotate(13deg);
	-o-transform:rotate(13deg);
	transform:rotate(13deg);
}

.red {
	-webkit-transform:rotate(7deg);
	-moz-transform:rotate(7deg);
	-ms-transform:rotate(7deg);
	-o-transform:rotate(7deg);
	transform:rotate(7deg);
}

.yellow {
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	transform:rotate(-10deg);
}